{% extends 'base.html' %} {% block content %}


<h1>Recipe Details</h1>


<div class="row">
    <div class=" col s12">

        {% for entry in data %}

        <div class="row">
            <div class="col s12">
                <h3>{{ entry.title }}</h3>
                <p class="flow-text"><i>{{ entry.type_of_food }}</i></p>
            </div>
        </div>

        <div class="row">
        <!-- Data -->
            <div class="col s12 m6">
                <p>Prepare time: {{ entry.minutes }} minutes</p>
                <p>Servings: {{ entry.servings }}</p>
                <p>Author: {{ entry.username.title() }}</p>
                <p>Created: {{ entry.creation_date.strftime('%d.%m.%Y') }}</p>
            
                {% if username == entry.username %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe_id) }}" class="btn waves-effect waves-light red" name="action" value="action" >
                    Edit <i class="material-icons right">edit</i>
                </a>
                {% endif %}
                
                
            </div>
        <!-- Description -->
            <div class="col s12 m6">
                {% for paragraph in entry.description %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Image -->
        <div class="row">
            <div class="col s12">
                <img src="{{ entry.image }}" class="responsive-img">
            </div>
        </div>
        
        {% endfor %}

        <div class="row">
        <!-- Ingredients -->
            <div class="col s12 m4">
                <h4>Ingredients:</h4>
                {% for entry in ingredients %}
                <p>{{ entry.quantity }} {{ entry.unit }} {{ entry.ingredient }}</p>
                {% endfor %}
            </div>
            <!-- Steps -->
            <div class="col s12 m8">
                <h4>Steps:</h4>
                {% for entry in data %}
                    {% for step in entry.steps %}
                        {% if 'Step' in step %}
                            <h5>{{ step }}</h5>
                        {% elif 'STEP' in step %}
                            <h5>{{ step.capitalize() }}</h5>
                        {% else %}
                            <p>{{ step }}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}


            </div>
        </div>


    </div>
</div>


{% endblock %}


<!--  steps -->
