{% extends 'base.html' %} {% block content %}


<h1>Register Page</h1>

<div class="row">
    
    <form action="{{ url_for('register') }}" method="POST" class="col s12">
        
        <div class="row">
            <div class="input-field col s6">
                <input id="first" name="first" type="text" value="{{ form.first.data }}" >
                <label for="first">First Name</label>
                {% for message in form.first.errors %}
                    <p class="red-text text-darken-2"><i>{{ message }}</i></p>
                {% endfor %}
            </div>
            <div class="input-field col s6">
                <input id="last" name="last" type="text" value="{{ form.last.data }}" />
                <label for="last">Last Name</label>
                {% for message in form.last.errors %}
                    <p class="red-text text-darken-2"><i>{{ message }}</i></p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="username" name="username" type="text" value="{{ form.username.data }}" >
                <label for="username">Select username</label>
                {% for message in form.username.errors %}
                    <p class="red-text text-darken-2"><i>{{ message }}</i></p>
                {% endfor %}
            </div>
            <div class="input-field col s6">
                <input id="password" name="password" type="password" value="{{ form.password.data }}" >
                <label for="password">Select password</label>
                {% for message in form.password.errors %}
                    <p class="red-text text-darken-2"><i>{{ message }}</i></p>
                {% endfor %}
            </div>
        </div>
        
        <p class="red-text text-darken-2"><i>{{ error_message }}</i></p>
        
        

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" value=Register name="action">Submit </button>
        </div>

        
    </form>

</div>



{% endblock %}
